@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Roboto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

content {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* Блок заголовку */
.title {
    width: auto;
    padding: 10px;
    margin-top: 20px;

    background: rgb(253, 48, 48);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Блок товарів*/
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Блок окремого товару */
.item {
    min-width: 800px;
    min-height: 800px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #ffffff;

    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Блок назви */
.item-title{
    font-weight: bold;
}

.item-author {
    font-weight: normal;
}

/* Блок зображення товару */
.item-image {
    height: 300px;
    display: flex;
    gap:20px
    
}

/* Блок з оплатою частинами */
.parts-pay {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* Зображення, які знаходяться в блоці оплати частинами */
.parts-pay img {
    height: 24px;    
}

/* Блок ціни */
.price {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
}

.price div:first-child {
    width: 100px;
    font-size: 20px;
}

.price div:first-child span {
    text-decoration-line: line-through;
}

.price div:first-child sup {
    font-size: 12px;
}

.price div:last-child {
    font-size: 24px;
}

.price div:last-child sup {
    font-size: 14px;
}

/* Блок бонусної ціни */
.bonus {
    background: rgb(127, 180, 194);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}




.bonus div:last-child sup {
    font-size: 14px;

}

/* Блок контактів */
.contacts p {
    margin: 3px;
}

.contacts p:first-child {
    font-weight: bold;
    letter-spacing: 1px;
}

.contacts p:last-child {
    border-left: 3px solid rgb(253, 48, 48);
}

/* Блок інформації */
.info {
    font-size: 9px;
    text-align: justify;
    color: rgb(120, 120, 120);

}

.user-photo {
    width: 180px;
    
}